{% extends 'base.html.twig' %}

{% block title %}New Product
{% endblock %}

{% block body %}
	<section class="section">
		<div class="row">
			<div class="col-lg-12">

				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Create new Produit</h5>

						{{ include('produit/_form.html.twig') }}

						<a href="{{ path('app_produit_index') }}">back to list</a>

					</div>
				</div>

			</div>
		</div>
	</section>
{% endblock %}
