{% extends 'base_login.html.twig' %}

{% block body %}
	<main>
		<div class="container">

			<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

							<div class="d-flex justify-content-center py-4">
								<a href="/" class="logo d-flex align-items-center w-auto">
									<img src="/assets/img/logo.png" alt="">
									<span class="d-none d-lg-block">Commandes</span>
								</a>
							</div>
							<!-- Fin Logo -->

							<div class="card mb-3">

								<div class="card-body">

									<div class="pt-4 pb-2">
										<h5 class="card-title text-center pb-0 fs-4">Connectez-vous à votre compte</h5>
										<p class="text-center small">Entrez votre nom d'utilisateur et votre mot de passe pour vous connecter</p>
									</div>

									{% if error %}
										<div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
											{{ error.messageKey|trans(error.messageData, 'security') }}
											<button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Fermer"></button>
										</div>
									{% endif %}

									<form method="POST" action="{{ path('app_login') }}" class="row g-3 needs-validation" novalidate>

										<div class="col-12">
											<label for="yourUsername" class="form-label">Nom d'utilisateur</label>
											<div class="input-group has-validation">
												<span class="input-group-text" id="inputGroupPrepend">@</span>
												<input type="text" name="_username" class="form-control" id="yourUsername" required>
												<div class="invalid-feedback">Veuillez saisir votre nom d'utilisateur.</div>
											</div>
										</div>

										<div class="col-12">
											<label for="yourPassword" class="form-label">Mot de passe</label>
											<input type="password" name="_password" class="form-control" id="yourPassword" required>
											<div class="invalid-feedback">Veuillez saisir votre mot de passe !</div>
										</div>

										<div class="col-12">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" name="_remember_me" value="true" id="rememberMe">
												<label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
											</div>
										</div>
										<div class="col-12">
											<button class="btn btn-primary w-100" type="submit">Connexion</button>
										</div>

									</form>

								</div>
							</div>

						</div>
					</div>
				</div>

			</section>

		</div>
	</main>
	<!-- Fin #main -->

{% endblock %}
