<aside id="sidebar" class="sidebar">

	<ul class="sidebar-nav" id="sidebar-nav">

		<li class="nav-item">
			<a class="nav-link " href="index.html">
				<i class="bi bi-grid"></i>
				<span>Dashboard</span>
			</a>
		</li>
		<!-- End Dashboard Nav -->

		<li class="nav-item">
			<a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
				<i class="bi bi-menu-button-wide"></i>
				<span>Fournisseurs</span>
				<i class="bi bi-chevron-down ms-auto"></i>
			</a>
			<ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
				<li>
					<a href="/fournisseur">
						<i class="bi bi-circle"></i>
						<span>Tous les Fournisseurs</span>
					</a>
				</li>
				<li>
					<a href="components-accordion.html">
						<i class="bi bi-circle"></i>
						<span>Ajouter</span>
					</a>
				</li>

			</ul>
		</li>
		<!-- End Components Nav -->

		<li class="nav-item">
			<a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
				<i class="bi bi-journal-text"></i>
				<span>Produits</span>
				<i class="bi bi-chevron-down ms-auto"></i>
			</a>
			<ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
				<li>
					<a href="/produit">
						<i class="bi bi-circle"></i>
						<span>Tous les Produits</span>
					</a>
				</li>
				<li>
					<a href="/produit/new">
						<i class="bi bi-circle"></i>
						<span>Ajouter Produit</span>
					</a>
				</li>
			</ul>
		</li>
		<!-- End Forms Nav -->

		<li class="nav-item">
			<a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
				<i class="bi bi-layout-text-window-reverse"></i>
				<span>Commandes</span>
				<i class="bi bi-chevron-down ms-auto"></i>
			</a>
			<ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
				<li>
					<a href="/commande">
						<i class="bi bi-circle"></i>
						<span>Tous les commandes</span>
					</a>
				</li>
				<li>
					<a href="/commande/new">
						<i class="bi bi-circle"></i>
						<span>Place une Commande</span>
					</a>
				</li>
			</ul>
		</li>
		<!-- End Tables Nav -->


		<li class="nav-item">
			<a class="nav-link collapsed" href="users-profile.html">
				<i class="bi bi-person"></i>
				<span>Profile</span>
			</a>
		</li>
		<!-- End Profile Page Nav -->


		<li class="nav-item">
			<a class="nav-link collapsed" href="pages-login.html">
				<i class="bi bi-box-arrow-in-right"></i>
				<span>Login</span>
			</a>
		</li>
		<!-- End Login Page Nav -->

		<li class="nav-item">
			<a class="nav-link collapsed" href="pages-error-404.html">
				<i class="bi bi-dash-circle"></i>
				<span>Error 404</span>
			</a>
		</li>

	</ul>

</aside>
